{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% if title %}
                {{ title }}
            {% else %}
                EasyWarehouse
            {% endif %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        {% block style %}
        {% endblock %}
        <meta charset="utf-8">
    </head>
    <body>
        <header>
            <h1>EasyWarehouse</h1>
            {% block header %}
            {% endblock %}
        </header>
        <div class="container">
            <nav>
                {% block menu %}
            
                {% endblock %}
            </nav>
            <main>
                {% block content %}
            
                {% endblock %}
            </main>
        </div>
        <footer>
            {% block footer %}

            {% endblock %}
        </footer>
    </body>
    </html>
