<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ title }}
        </title>

        <meta charset="utf-8">
    </head>
    <body>
        <header>
            {% block header %}
            <h1>EasyWarehouse</h1>
            {% endblock %}
        </header>
        <nav>
            {% block menu %}
            
            {% endblock %}
        </nav>
        <main>
            {% block content %}
            
            {% endblock %}
        </main>
        {% block footer %}
        {% endblock %}
    </body>
</html>
