{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'product_list.css' %}">


    <!-- TODO make the search bar the same as on index page -->
    <form action="{% url 'search' %}" method="get">
        <input name="text-search" type="text" placeholder="Search...">
    </form>

    <ul class="product-list">
        {% for product in object_list %}
            <li>
                <a href="{% url 'products-guest'  product.id %}">
                    <img src="{{ product.main_image_url }}" alt="{{ product.name }} photo">
                    <div>{{ product.name }}</div>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
