{% extends "employee/base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'images.css' %}">

    <a href="{% url 'images-add' %}"><input type="button" value="Add new image"/></a>

    <span class="step-links"> <!-- TODO move this to action-bar when it becomes available -->
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>

    <ul>
        {% for image in object_list %}
            <li>
                <a href="{{ image.get_absolute_url }}">
                <img src="{{ image.image.url }}" alt="Image {{image.id}}" />
            </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
