{% extends "employee/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'list.css' %}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" type="text/css" href="{% static 'images.css' %}">

    <h1>Images</h1>
    <a href="{% url 'images-add' %}"><input type="button" value="Add new image"/></a>
    <ul>
        {% for image in object_list %}
            <li>
                <a href="{{ image.get_absolute_url }}">
                <img src="{{ image.image.url }}" alt="Image {{image.id}}" />
            </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
