{% extends "employee/base_list.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'images.css' %}">

    <div class="listing">
        <div class="action-bar">
            <a href="{% url 'images-add' %}">Add new image</a>
        </div>
    </div>

    <ul>
        {% for image in object_list %}
            <li>
                <a href="{{ image.get_absolute_url }}">
                <img src="{{ image.image.url }}" alt="Image {{image.id}}" />
            </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
