{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'product_list.css' %}">

<h1>Products List</h1>
  <ul class="product-list">
    {% for product in object_list %}
      <li>
        <a href="{{ product.get_absolute_url }}">
          <img src="{{product.images.first.image.url}}" alt="Product list">
          <div>{{ product.name }}</div>
        </a>
      </li>
    {% endfor %}
  </ul>
<a href="{% url "products-add" %}">Add new product</a>
{% endblock %}
