{% extends "employee/base_list.html" %}
{% load static %}

{% block content %}
  <h1>Categories List</h1>
  <div class="listing">
    <div class="action-bar">
      <a href="{% url 'categories-add' %}">Add new category</a>
    </div>

    <ul>
      {% for category in object_list %}
        <li>
          {{ category.name }}
          <div class="buttons">
            <a href="{% url 'categories-update' category.id %}">Update</a>
            <a href="{% url 'categories-delete' category.id %}">Delete</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>


{% endblock %}
