img{
    max-height: 50vh;
    max-width: 80vh;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

ul li{
    margin: 5px;
    display: flex;
    justify-content: center;
}

ul li img{
    margin: 5px;
    display: flex;
    justify-content: center;
    max-width: 30vh;
}
