ul.product-list {
    list-style: none;
}

.product {
    margin: 15px 0;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.product a {
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    text-decoration: none;
    color: var(--text);
    font-size: 1.5em;
    height: 100%;
}

.product p {
    margin: auto 0 auto 5%;
}

.product img {
    width: 30%;
    height: 100%;
    object-fit: contain;
    display: block;
    padding: 5px;
    border-right: 1px solid white;
}

.product .availability-bar-outer {
    position: absolute;
    right: 25px;
    margin-top: 30px;
}
