section.product{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

section.product .image-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 50%;
}

section.product .image-box img{
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
    margin: 5px;
}

section.product .image-box img:first-child{
    max-width: 90%;
    max-height: 500px;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-left: 2em;
}

.product-info .tags a{
    text-decoration: none;
    color: var(--text);
}

.product-info .description{
    margin-left: 10px;
}

.product-info-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product .availability-bar-outer {
    right: 25px;
    margin-top: 30px;
}

aside.contact form{
    display:grid;
    grid-template-columns: auto auto;
    margin: 10px;
}

aside.contact form label input{
    width: 80%;
}

aside.contact form label input[type=text]{
    height: 10em;
}

aside.contact form input[type=submit]{
    grid-column: span 2;
}

