ul.product-list{
    list-style: none;
}
ul.product-list li a{
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    text-decoration: none;
    color:black;
    font-size: 3.5em;
}
ul.product-list li div{
    margin: auto 0;
    margin-left: 5%;
}

ul.product-list li img{
    width: 30%;
    height: auto;
    display: block;
    padding: 5px;
    border-right: 1px solid white;
}
